<html ng-app="BikingApp">

<head>
    <title>Twin Cities Single Track Conditions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bs.css" type="text/css">
    <link rel="stylesheet" href="css/bst.css" type="text/css">
    <link rel="stylesheet" href="css/mycss.css" type="text/css">
</head>

<body ng-controller="BikingController as bc" ng-cloak>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div ng-show="bc.loading === true" class="centered">
                    <br><br><br><br>
                    <h3>Loading...</h3>
                    <img src="//bitcoinvideocasino.com/static/images/loading_spinner_white.gif" />
                </div>
                <div ng-show="bc.error === true" class="centered">
                    <br><br><br><br>
                    <h3>Error! Try refreshing the page!</h3>
                </div>
                <div ng-show="!bc.loading && !bc.error">
                    <h3>Twin Cities Single Track Conditions</h1>
                    <hr>
                    <input class="form-control" ng-model="search" placeholder="Search..."></input>
                    <div ng-show="(bc.trailData | filter:search).length > 0">
                        <table class="table">
                            <thead>
                                <th>
                                    <a href="" ng-click="(bc.reverse && bc.filter === 'name' ? bc.reverse = false : bc.reverse = true); bc.filter = 'name';">Name</a>
                                </th>
                                <th>
                                    <a href="" ng-click="(bc.reverse && bc.filter === 'condition' ? bc.reverse = false : bc.reverse = true); bc.filter = 'condition';">Condition</a>
                                </th>
                                <th class="collapsable">
                                    Description
                                </th>
                                <th >
                                    <a href="" ng-click="(bc.reverse && bc.filter === 'updatedMS' ? bc.reverse = false : bc.reverse = true); bc.filter = 'updatedMS';">Last Updated</a>
                                </th>
                            </thead>
                            <tr ng-repeat="trail in bc.trailData | filter:search | orderBy:bc.filter:bc.reverse">
                                <td>
                                    <a href="http://morcmtb.org/forums/{{ trail.url }}" target="_blank">{{ trail.name }}</a>
                                </td>
                                <td>
                                    {{ trail.condition }}
                                </td>
                                <td class="collapsable">
                                    {{ trail.description }}
                                </td>
                                <td >
                                    {{ trail.updatedMS | date:"M/dd/yy 'at' h:mma" }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div ng-hide="(bc.trailData | filter:search).length > 0">
                        <br>
                        No trails found on this search... <a ng-click="search = ''">Clear Search</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="js/jquery-2.1.1.js" type="text/javascript"></script>
<script src="js/angular.js" type="text/javascript"></script>
<script src="js/ui-bootstrap-tpls-0.11.0.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>

</html>
